<form class="flexcol" autocomplete="off" onsubmit="event.preventDefault();">

  <!-- Sheet Navigation Tabs -->
  <nav class="sheet-tabs tabs" data-group="sheet"></nav>

  <!-- Main Tab -->
  <section class="tab-content">
    {{> "modules/stairways/templates/stairway-config-main.hbs" data}}
  </section>

  <!-- Label Tab -->
  <section class="tab-content">
    {{> "modules/stairways/templates/stairway-config-label.hbs" data}}
  </section>

  <!-- Position Tab -->
  <section class="tab-content">
    {{> "modules/stairways/templates/stairway-config-position.hbs" data}}
  </section>

  <!-- Sheet Footer -->
  <footer class="sheet-footer flexrow">
    <button type="button" name="resetDefault">
      <i class="fas fa-undo"></i> {{ localize "stairways.ui.config.reset" }}
    </button>
    <button type="submit" name="submit" value="1"><i class="far fa-save"></i> {{ localize submitText }}</button>
  </footer>
</form>
